body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-top: 200px;
}

.btn{
   margin-top: 20px;
}